  /* .container .text{
    text-align: center;
    font-family: 'Poppins', sans-serif;
  }
  .container form{
    padding: 10px 50px 0 0;
    margin: 0px;
  }
  .container form .form-row{
    display: flex;
    margin: 10px 194px;
  }
  form .form-row .input-data{
    width: 100%;
    height: 40px;
    margin: 0 200px;
    position: relative;
  }
  .input-data input,
  .textarea textarea{
    display: block;
    width: 100%;
    height: 100%;
    border: none;
    font-size: 17px;
    border-bottom: 2px solid rgba(0,0,0, 0.12);
  } */