*{
    margin: 0;
    padding: 0;
    outline: none;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
  }
body{
    color: white;
    background: rgb(59, 58, 58);
    margin: 10px;
    justify-content: center;
}
#Student-Table {
    width: 100%;
    margin-top: 10px;
    height: 320px;
    color: #000000;
    display: flex;
    justify-content: center;    
}
div tr {
  border: 1 px solid black;
  background-color: rgb(214, 209, 209);
}
#table-row-1,tr,th {
  padding: 2px;
}